<!-- views/createSubclub.ejs -->
<!-- views/createSubmeeting.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>소모임 생성</title>
</head>
<body>
  <h1>소모임 생성</h1>
  <form action="/submeeting/create" method="post">
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="description">모임 설명:</label>
    <textarea id="description" name="description" required></textarea>
    <br>
    <label for="code">모임 코드:</label>
    <input type="text" id="code" name="code" required>
    <br>
    <button type="submit">완료</button>
  </form>
</body>
</html>

